<!DOCTYPE html>
<html lang="">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adminka</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <div>
        <a href="/Product/Product">Product</a> | <a href="/Category/Category">Category</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
