<h1>Введите данные</h1>

<form accept="image/*" enctype="multipart/form-data" method="POST" name="model">
    <label>Name: </label> <input name="name" required/><br/>
    <label>Image</label> <input type="file" name="image"><br/>
    <input type="submit" value="Send" /><br />
</form>